h3 {
    text-align: center;
}

.produto-list ul {
  list-style: none;
  padding: 10px;
}
.produto-list li {
  background: #f5f5f5;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
}